<div class="bx card mb-4 shadow-md border border-dark">
    <a routerLink="/read/{{game.name}}">
        <img class="card-img-top" src="{{game.img}}" alt="{{game.name}}">
        <div class="card-body">
        <h4 class="card-text"><b>{{game.name}}</b></h4>
        <p class="text-muted">{{game.type}}</p>
        <div class="d-flex justify-content-end align-items-center">
            <small [ngStyle]="{'background-color': changeColor()}">{{gamePrice()}}</small>
        </div>
        </div>
    </a>
</div>