.mouse {
    transition: all .3s ease-in-out;
}

.mouse:hover {
    transform: scale(1.05);
}

button {
    border-radius: 50%;
    margin: 10px;
    transition: all .3s linear;
}

button:hover {
    transform: scale(0.85);
    color: black;
}

button:focus {
    outline: none;
    box-shadow: none;
}