<div class="d-flex justify-content-center">
    <div class="create card text-dark bg-dark mb-3">
        <div class="card-header bg-danger text-center"><h4><b>Novo Jogo</b></h4></div>
        <div class="card-body">
            <label class="card-title text-danger">Nome</label>
            <input type="email" [(ngModel)]="game.name">
            <br>
            <label class="card-title text-danger">Descrição</label>
            <input type="text" [(ngModel)]="game.description">
            <br>
            <label class="card-title text-danger">Tipo</label>
            <input type="text" [(ngModel)]="game.type">
            <br>
            <label class="card-title text-danger">Desenvolvedora</label>
            <input type="text" [(ngModel)]="game.developer">
            <br>
            <label class="card-title text-danger">Data de Lançamento:</label>
            <input type="date" [(ngModel)]="game.launchDate">
            <br>
            <label class="card-title text-danger">Preço</label>
            <input type="number" [(ngModel)]="game.price">
            <br>
            <label class="card-title text-danger">Imagem (URL)</label>
            <input type="url" [(ngModel)]="game.img">
            <br>
            <label class="card-title text-danger">Trailer (URL)</label>
            <p class="text-muted"><input class="trailer" type="url" [(ngModel)]="game.trailer"></p>
        </div>
        <div class="card-footer bg-danger text-end ">
          <button class="btn btn-dark text-danger"(click)="createGame()" routerLink="/">Add</button>
        </div>
    </div>
</div>