<div class="d-flex justify-content-center">
    <div class="read card text-dark bg-dark mb-3">
        <div class="card-header bg-danger text-center"></div>
        <div class="card-body">
            <img *ngIf="!trailer" class="card-img-top" src="{{game.img}}" alt="{{game.name}}">
            <hr>
            <div class="d-flex justify-content-center">
                <button *ngIf="!trailer" class="btn btn-danger text-dark" (click)="showVideo()">Assistir Trailer</button>
                <iframe *ngIf="trailer" [src]="game.trailer | safe "></iframe>
            </div>
            <hr>
            <h2 class="text-danger text-center">{{game.name}}</h2>
            <p class="text-light text-center">{{game.description}}</p>
            <hr>
            <h6 class="text-muted">Tipo: <span class="text-light">{{game.type}}</span></h6>
            <hr>
            <h6 class="text-muted">Desenvolvedora: <span class="text-light">{{game.developer}}</span></h6>
            <hr>
            <h6 class="text-muted">Data de Lançamento: <span class="text-light">{{game.launchDate}}</span></h6>
            <hr>
            <h6 class="text-muted">Preço: <span class="text-light">{{game.priceToString()}}</span></h6>
        </div>
        <div class="card-footer bg-danger text-end "><button class="btn btn-dark text-danger" routerLink="/" (click)="removeGame()">Remover</button></div>
    </div>
</div>
