b {
    color: black;
    padding: 0px 10px;
}

a:link, a:hover {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:visited {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

img {
    min-height: 240px;
}

.card {
    max-height: 400px;
}

.bx {
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
}

.bord {
    border: 1px solid rgb(53, 53, 53);
}