<div class="bx card mb-4 shadow-md border border-dark">
    <ng-template #content let-modal>
        <div class="bord modal-header bg-danger">
          <h4 class="modal-title">Alert!!!</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="bord modal-body bg-dark">
          <p class="text-secondary">Página de detalhe não implementada para a API!</p>
        </div>
        <div class="bord modal-footer bg-danger">
          <button type="button" class="btn btn-dark text-danger" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
    <div (click)="openVerticallyCentered(content)">
      <div>
        <img class="card-img-top" src="{{gameAPI.background_image}}" alt="{{gameAPI.name}}">
        <div class="card-body">
        <h5 class="card-text"><b>{{gameAPI.name}}</b></h5>
        <p class="text-muted">{{gameAPI.released}}</p>
        <div class="d-flex justify-content-end align-items-center">
            <b class="">{{gameAPI.rating}}<fa-icon class="mx-1 text-warning" [icon]="faStar" size="lg"></fa-icon></b>
        </div>
        </div>
    </div>
</div>