<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <nav class="navbar navbar-light bg-danger justify-content-space p-0 mb-4">
        <a class="d-flex navbar-brand text-light align-items-center" (click)="botaoVersaoOff()" routerLink="/">
            <h1 class="d-inline text-dark mx-1">{{"['"}}</h1>
            <fa-icon class="mx-1" [icon]="faGamepad" size="2x"></fa-icon>
            <h1 class="d-inline text-dark mx-1">{{"','"}}</h1>
            <fa-icon class="mx-1" [icon]="faChessKnight" size="2x"></fa-icon>
            <h1 class="d-inline text-dark mx-1">{{"','"}}</h1>
            <fa-icon class="mx-1" [icon]="faDiceSix" size="2x"></fa-icon>
            <h1 class="d-inline text-dark mx-1">{{"','"}}</h1>
            <fa-icon class="mx-1" [icon]="faPuzzlePiece" size="2x"></fa-icon>
            <h1 class="d-inline text-dark mx-1">{{"']"}}</h1>
        </a>
        <div>
            <button *ngIf="!versaoOn; else manual" (click)="botaoVersaoOn()" class="btn btn-dark m-2 text-danger" routerLink="/api">Versão Automática</button>
            <ng-template #manual>
                <button (click)="botaoVersaoOff()" class="btn btn-dark m-2 text-danger" routerLink="/">Versão Manual</button>
            </ng-template>
            <button *ngIf="!versaoOn" class="btn btn-dark m-2 text-danger" routerLink="/create">+</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>
</html>