h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

hr {
    width: 75%;
    border-top: 3px dotted red;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

fa-icon {
    color: #212529;
}
